{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'about' as about_url %}
{% url 'products:list' as products_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{{ home_url }}">Brand_Name</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if request.path == home_url %} active{% endif %}">
          <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == products_url %} active{% endif %}">
          <a class="nav-link" href="{{ products_url }}">Products</a>
        </li>
        <li class="nav-item {% if request.path == about_url %} active{% endif %}">
            <a class="nav-link" href="{{ about_url }}">About</a>
          </li>
          <li class="nav-item {% if request.path == contact_url %} active{% endif %}">
              <a class="nav-link" href="{{ contact_url }}">Contact</a>
            </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
          <a class="btn btn-outline-success m-2 my-2 my-sm-0" href="{{ login_url }}"> Login </a>
          <a class="btn btn-outline-info my-2 my-sm-0" href="{{ register_url }}"> Register </a>
      </form>
    </div>
  </nav>