{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Including/Dynamic replacing base/css.html file content. --> 
 {% include 'base/css.html' %}

 <title>{{ title }}</title>
 {% include 'base/js.html' %}
</head>
<body>

    <!-- Including/Dynamic replacing base/navbar.html file content. --> 
    {% include "base/navbar.html" %}

    
    {% block content %} {% endblock %}


    <!-- Including/Dynamic replacing base/js.html file content. -->

    
</body>
</html>