{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        
    {% for obj in object_list %}
    <div class="col"></div>
    {% include "products/snippets/card.html" with instance=obj %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}





<!-- {{ object_list }} -->
<!--  Class all objects
{'paginator': None,
'page_obj': None, 
'is_paginated': False, 
'object_list': <QuerySet [<Product: T-shirt>, <Product: Hat>]>,
'product_list': <QuerySet [<Product: T-shirt>, <Product: Hat>]>,
'view': <products.views.ProductListView object at 0x7f5ca776df60>} -->

<!-- class objects -->
<!-- <p> {{ paginator }} </p>
<p> {{ is_paginated }} </p>
<p> {{ object_list }} </p>
<p> {{ view }} </p> -->