{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <h1>{{ content }}</h1>
</div>
    
<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ content }}</h2>
            <div class="col-sm-6 col-12">
                <form method="POST"> {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Submit </button>
                </form>

<br><br><br>
            <form method="POST"> {% csrf_token %}
            <input type="text" class=form-control placeholder="Name" name='fullname'>
            <input type="email" class=form-control placeholder="Email" name='email'>
            <textarea name='content' class=form-control placeholder="Your content"> </textarea>
            <button type="submit" class="btn btn-primary">Submit </button>

        </form>
    </div>
    </div>
</div>
</div>
{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}" type="text/JavaScript" ></script>
  