{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row mt-5">
        <div class="col-12 mb-4"> 
           {% if query %}
            <h2> Result for  <b> {{ query }} </b> </h2>
            {% else %}
           <div class="row">
            <div class="col-8 mx-auto">
            {% include 'search/snippets/search_form.html' %}
                
                
            
        </div> 
        </div>
            {% endif %}

        </div>
    </div>
    <hr>
    <div class="row">
    {% for obj in object_list %}
    
    <div class="col">
    
    {% include "products/snippets/card.html" with instance=obj %}

        {% if forloop.counter|divisibleby:3 %}
        </div></div> <div class="row"> <div class="col-12"><hr></div>
        {% else %}
        </div>
        {% endif %}

    
    {% endfor %}

</div>
{% endblock %}





